* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

html {
    font-size: 62.5%;
}

body, html {
    height: 100%;
    margin: 0;
}

.parent {
    height: 100%;
    margin: 0;
}

.img-container {
    background-image: url("../../assets/images/backgrounds/photo-1418065460487-3e41a6c84dc5.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .img-container {
     width: 100%;
    height: 100%;
    background-image: url("../imgs/photo-1418065460487-3e41a6c84dc5.jpg");
    background-repeat: no-repeat;
    background-position: center;
     width: 100vw;
    height: 100vh; 
    background-size: 100% auto; 
    background-size: cover;

} */

#head-title {
    font-size: 3rem;
    font-weight: 600;
}

.main-presentation {
    width: 40rem;
    margin-right: 15rem;
    /* position: absolute;
    top: 15rem;
    left: 12rem; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .main-presentation > h3 {
    font-weight: 600;
} */

.main-presentation > p {
    font-size: 2.2rem;
    font-weight: 600;
}

/* Social network icons */

.social-networks {
    display: flex;
}

.social-networks > li {
    list-style-type: none;
    margin-right: 3rem;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
}

.social-networks > li > a {
    color: black;
}

.arrow-wrap {
    color: #FFFFFF;
    text-shadow: 0 0 10px;
    font-size: 4rem;
    position: fixed;
    bottom: 3rem;
    right: 50%;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}