/* Contact container */
.contact-img-container {
    background-image: url("../../assets/images/backgrounds/contactMePage.jpg");
    width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.contact-info-container {
    font-size: 1.7rem;
    margin: 15rem 12rem;
}

.get-in-touch {
    font-size: 4rem;
    color: rgb(43, 39, 39);
    margin-bottom: 2rem;
    text-align: center;
}

.contact-info {
    background-color: rgb(204, 204, 204);
}

.google-map {
    width: 100%;
    animation-duration: 5s;
}

.google-map > iframe {
    width: 100%;
    height: 30rem;
}

.contact-me-form {
    background-color: rgb(204, 204, 204);
}

.contact-info, .contact-me-form {
    border: 1px solid black;  
    padding: 2rem;  
}

.contact-info > ul {
    list-style-type: none;
}

.form {
    margin-top: 5rem;
    animation-duration: 3s;
}

.form input, textarea {
    width: 90%;
    margin-bottom: 2rem;
    padding: 0.7rem;
}

.send-me-message-title {
    animation-duration: 2s;
}

.send-me-message-btn {
    animation-duration: 6s;    
}

@media only screen and (min-width: 768px) {
    .contact-info-container {
        margin: 15rem 18rem;
    }
}
