.footer {
    /* position: relative;  */
    width:100%;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: 500;
    /* bottom: 0;
    left: 0; */
    margin-top: 15rem;
    background-color: black;
    opacity: 0.9;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer p {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .footer {
        height: 5rem;
        font-size: 2rem;  
        padding: 3rem;  
    }
}