/* general styling for buttons */
.custom-styled-btn {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #ffffff;
    outline: none;
    min-width: 5rem;
}

.custom-styled-btn:hover {
    background-color: rgb(36, 35, 35);
    color: #ffffff;
}

.custom-styled-btn:focus {
    outline: none;
}


/*  ----About me Page container------- */

.about-me-container {
    margin: 5rem 3rem;
}

.about-me-info-wrapper {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.about-me-img {
    width: 100%;
    position: relative;
    animation-duration: 3s;
    /* animation-delay: 2s; */
}

.about-me-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.about-me-img:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.about-me-img>img {
    width: 100%;
}

.about-me-img button {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.about-me-img:hover button {
    opacity: 1;
}

.about-me-img-details {
    font-size: 1.5rem;
    margin-top: 4rem;
}

.about-me-img-details>ul {
    animation-duration: 3s;
    animation-delay: 2s;
}

.about-me-img-details li {
    list-style-type: none;
}

.about-me-btns {
    animation-duration: 3s;
    animation-delay: 2s;
}

.about-me-btns button {
    margin: 2rem 2rem;
}

.about-me-description {
    padding: 0 2rem;
    font-size: 1.7rem;
    animation-duration: 3s;
}

.progress-bar-area {
    margin-top: 5rem;
}

.progress-bar-area>p {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.progress-bar {
    width: 60%;
    height: 1rem;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progress-bar>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    width: 0;
}

span.expandedHtml {
    width: 90%;
    transition: width 2s linear;
}

span.exppandedCss {
    width: 80%;
    transition: width 2s linear;
}

span.expandedBootstrap {
    width: 80%;
    transition: width 2s linear;
}

span.expandedJs {
    width: 65%;
    transition: width 2s linear;
}

span.expandedReact {
    width: 50%;
    transition: width 2s linear;
}

span.expandedGit {
    width: 50%;
    transition: width 2s linear;
}


@media only screen and (min-width: 768px) {
    .custom-styled-btn {
        font-size: 1.5rem;
        min-width: 10rem;
    }
    
    /*  ----About me Page container------- */
    .about-me-container {
        margin: 0 12rem;
    }
    .about-me-info-wrapper {
        margin-top: 15rem;
        margin-bottom: 4rem;
    }  
    .about-me-description {
        margin-top: 15rem;
    }
}
